.primaryBG {
    background: var(--ion-color-primary);
    color: white;
}

::ng-deep .resultTable ion-col {
    border: 1px solid black;
}

.card-content-md {
    font-size: 16px !important;
    padding: 0 10px 0 10px !important;
}

.download-link {
    color: rgb(27, 117, 208);
    text-decoration: underline;
}

.font2 {
    font-size: 2rem;
}

.download-icon {
    font-size: 1.6rem;
    margin-top: 15px;
}