.primaryBG {
    background: var(--ion-color-primary);
    color: white;
}

::ng-deep .resultTable ion-col {
    border: 1px solid black;
}

.card-content-md {
    font-size: 16px !important;
    padding: 0 10px 0 10px !important;
}