.successColor {
    color: var(--ion-color-success);
}

.dangerColor {
    color: var(--ion-color-danger);
}

.date-time {
    text-align: right;
    opacity: 0.7;
    font-size: 0.8rem;
}

.subNotititle {
    white-space: pre-line;
}

ion-label {
    white-space: pre-wrap !important;
}