<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title start>Broadcast List</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="light" (click)="callNumber()">
                <ion-icon slot="end" name="call"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="notifications && notifications.length > 0 else noNoti">
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let noti of notifications" (click)="openNearestFindPage(noti)">
                    <ion-label>
                        <p class="date-time">{{noti.timestamp}}</p>
                        <h2 class="dangerColor">{{noti.message}}</h2>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ng-template #noNoti>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle color="primary" class="ion-text-center">No broadcasts found</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ng-template>
</ion-content>