<ion-content [fullscreen]="true" color="light">

    <ion-card id="update-card">
        <ion-card-content class="ion-float-left">
            <ion-label class="header-sub-head-font-17 fontB ion-float-left w100">App Update Available</ion-label>
            <ion-label class="header-sub-head-font-16 ion-float-left w100" style="margin-bottom: 31vw;">Please update your app to continue</ion-label>

            <ion-button id="update-button" class="tenx-button-right mt-8 mb-8 fontSB zindex100" (click)="updateApp()">Update</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>