ion-card-content {
    padding: 6vw !important;
}

#update-button {
    width: 73vw;
    position: absolute;
    right: -0.4vw;
    bottom: 1vw;
}

#update-card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-sub-head-font-17 {
    font-size: 1.2rem;
    font-weight: 700;
}

.header-sub-head-font-16 {
    font-size: 1.1rem;
}