<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title start>Contact Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-img src='assets/icon/logo.png' style="width: 80px; margin: 0 auto;"></ion-img>
            <div class="ion-text-center ion-padding-bottom ion-padding-top">
                <h2><b><ion-label color="primary">PAPER TRADE LINK</ion-label></b></h2>
            </div>
            <div class="ion-text-center">Address: Gala No. 4, Bldg No. 1, Shiv Shankar Indl. Estate,</div><br>
            <div class="ion-text-center">Behind Burma Shell Petrol Pump,Village Valiv, Vasai (E), Vasai - 401208</div><br>
            <div class="ion-text-center">Tel.810 873 1234 / 740 047 1234</div><br>
            <div class="ion-text-center">Email:info@papertradelink.com</div>
        </ion-card-content>
    </ion-card>
</ion-content>