<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title start>Contact Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-content>
            <ion-img src='assets/icon/logo.png' style="width: 80px;" class="horizontal-center"></ion-img>
            <div class="ion-text-center ion-padding-bottom ion-padding-top">
                <h2><b><ion-label color="primary">PAPER TRADE LINK</ion-label></b></h2>
            </div>
            <div class="ion-text-center">{{ 'addess' | translate: 'contact_us' }}</div><br>
            <div class="ion-text-center">{{ 'mobile' | translate: 'contact_us' }}</div><br>
            <div class="ion-text-center">{{ 'email' | translate: 'contact_us' }}</div>
            <b><ion-label *ngIf="location" class="ion-text-center w100 floatL ion-margin-top ion-margin-bottom" (click)="openLocation()"
                    color="primary">View Location</ion-label></b>
        </ion-card-content>
    </ion-card>
</ion-content>