<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title start>Orders</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="light" (click)="shareScreenshot()">
                <ion-icon slot="end" name="share-social-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle color="primary" class="ion-text-center">Only Last 30 days transaction will be
                displayed<br>To track delivery status of the order</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-grid *ngIf="mobileNumber">
                <ion-row class="ion-align-items-center">
                    <ion-col size="12" class="ion-text-center">
                        <ion-icon name="call" color="success" class="font2-5" (click)="callNumber()"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-list>
                <ion-item *ngFor="let order of ordersList" class="order">
                    <ion-grid>
                        <ion-row (click)="openOrder(order)">
                            <div *ngIf="order.status == 'P'" class="edit-icon-div"
                                (click)="editQuantity($event, order)">
                                <ion-img class="edit-icon" src='assets/icon/edit.png'></ion-img>
                            </div>
                            <ion-col size="3">
                                <ion-img *ngIf="order.status == 'B'" src='assets/icon/delivered.png'
                                    class="horizontal-center"></ion-img>
                                <ion-img *ngIf="order.status != 'B'" src='assets/icon/pending.png'
                                    class="horizontal-center"></ion-img>
                            </ion-col>
                            <ion-col size="9">
                                <ion-label><b>Order No : </b>{{order.id}}</ion-label>
                                <ion-label><b>Date : </b>{{order.Date_order}}</ion-label>
                                <ion-label><b>Qty : </b>{{order.qty}}</ion-label>
                                <ion-label><b>Delivery at : </b>{{order.delivery_at}}</ion-label>
                                <ion-label><b>Status : </b><span
                                        [ngClass]="order.status == 'B' ? 'successColor' : 'dangerColor'">{{getStatusLabel(order.status)}}</span></ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>