/* Empty. Add your own CSS if you like */

body,
.ionic-body {
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.tab-item {
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

input,
button,
select,
textarea {
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.roboto {
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.roboto input {
    font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}