<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title start>Find Nearest Sizes</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="light" (click)="shareScreenshot()">
                <ion-icon slot="end" name="share-social-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card *ngIf="loadPage">
        <ion-card-header>
            <ion-card-title color="primary" class="ion-text-center">Find Nearest Sizes<br><span
                    style="color: black;    font-size: 16px;">(in Inch)</span></ion-card-title>
        </ion-card-header>

        <ion-card-content style="padding : 0;">
            <ion-grid>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked" class="font1">Select Product Group</ion-label>
                            <ion-select [(ngModel)]="product_group">
                                <ion-select-option *ngFor="let product of listProducts"
                                    [value]="product.group_name">{{product.group_name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="5">
                        <ion-item>
                            <ion-label position="stacked" class="font1">Length</ion-label>
                            <ion-input type="number" [(ngModel)]="length" inputmode="decimal"
                                maxlength="10"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="2" class="vertical-center">
                        <ion-label color="primary" class="w100">X</ion-label>
                    </ion-col>
                    <ion-col size="5">
                        <ion-item>
                            <ion-label position="stacked" class="font1">Width</ion-label>
                            <ion-input type="number" [(ngModel)]="width" inputmode="decimal" maxlength="10"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4" offset="4">
                        <ion-item>
                            <ion-label position="stacked" class="font1">GSM</ion-label>
                            <ion-input type="number" [(ngModel)]="gsm" inputmode="decimal" maxlength="10"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12" class="ion-text-center">
                        <ion-button shape="round" (click)="search()">
                            <ion-icon slot="icon-only" name="search"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ng-container *ngIf="searchResult && reel_searchResult">
                <div class="ion-text-center" *ngIf="searchResult.length == 0 && reel_searchResult.length == 0">
                    <h3>Results not found in {{totalResponseTime}} seconds</h3>
                </div>
                <ng-container *ngIf="searchResult.length > 0 || reel_searchResult.length > 0">
                    <div class="ion-text-center">
                        <h3>Result searching size {{length}} X {{width}} in {{totalResponseTime}} seconds</h3>
                    </div>

                    <ng-container *ngIf="searchResult.length > 0">
                        <ion-label class="font1 ion-text-center w100 table-header ion-margin-top">READY SHEET
                            SIZES</ion-label>
                        <div style="overflow-x:auto;">

                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th style="min-width: 50px !important;max-width: 50px !important;"
                                        *ngFor="let key of headersKeys" class="greyBG" (click)="changeSort(key)">
                                        {{ headers[key]}}
                                        <ion-icon [name]="ascSort ? 'arrow-down' : 'arrow-up'"
                                            *ngIf="sortCol == key"></ion-icon>
                                    </th>
                                    <th class="greyBG">#</th>
                                </tr>
                                <tr *ngFor="let res of searchResult">
                                    <td *ngFor="let key of headersKeys">
                                        {{ res[key]}}
                                    </td>
                                    <td>
                                        <div class="primaryBG orderBtn" (click)="orderNow(res)">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="reel_searchResult.length > 0 && reel_headers">
                        <ion-label class="font1 ion-text-center w100 table-header ion-margin-top">REEL TO SHEET SIZES
                            CONVERSION </ion-label>
                        <div style="overflow-x:auto;">

                            <table style="border-collapse: collapse;">
                                <tr>
                                    <th style="min-width: 50px !important;max-width: 50px !important;"
                                        *ngFor="let key of reel_headersKeys" class="greyBG"
                                        (click)="changeReelSort(key)">
                                        {{ reel_headers[key]}}
                                        <ion-icon [name]="reel_ascSort ? 'arrow-down' : 'arrow-up'"
                                            *ngIf="reel_sortCol == key"></ion-icon>
                                    </th>
                                    <th class="greyBG">#</th>
                                </tr>
                                <tr *ngFor="let res of reel_searchResult">
                                    <td *ngFor="let key of reel_headersKeys">
                                        {{ res[key]}}
                                    </td>
                                    <td>
                                        <div class="primaryBG orderBtn" (click)="orderReelNow(res)">
                                            <ion-icon name="cart-outline"></ion-icon>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <ion-label *ngIf="reelNote" class="font1 w100 floatL ion-margin-top ion-padding"
                            color="primary"><b>Note :- "{{reelNote}}"</b></ion-label>
                    </ng-container>

                    <!-- <ion-grid class="resultTable">
                        <ion-row>
                            <ion-col *ngFor="let key of headersKeys" [attr.size]="headersWidth[key]" class="ion-text-center greyBG" (click)="changeSort(key)"> {{ headers[key]}}
                                <ion-icon [name]="ascSort ? 'arrow-down' : 'arrow-up'" *ngIf="sortCol == key"></ion-icon>
                            </ion-col>
                            <ion-col size="1" class="ion-text-center greyBG">#</ion-col>
                        </ion-row>
                        <ion-row *ngFor="let res of searchResult">
                            <ion-col *ngFor="let key of headersKeys" [attr.size]="headersWidth[key]" class="ion-text-center"> {{ res[key]}} </ion-col>
                            <ion-col size="1" class="ion-text-center">
                                
                            </ion-col>
                        </ion-row>
                    </ion-grid> -->

                    <ion-grid class="w100 floatL">
                        <ion-row class="ion-align-items-center">
                            <ion-col size="12" class="ion-text-center">
                                <ion-button shape="round" (click)="reverse()">
                                    <ion-icon name="search"></ion-icon>&nbsp;&nbsp;Reverse Grain
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ng-container>
            </ng-container>

        </ion-card-content>
    </ion-card>
</ion-content>