.primaryBG {
    background: var(--ion-color-primary);
    color: white;
}

.greyBG {
    background: lightgray;
    font-weight: 700;
    color: black;
}

::ng-deep .resultTable ion-col {
    border: 1px solid black;
    font-size: 0.8rem;
    padding-right: 2px !important;
    padding-left: 2px !important;
}

.orderBtn {
    border-radius: 5px;
    height: 1.4rem;
    font-size: 1.1rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.col1-5 {
    flex: 0 0 calc(calc(1.5 / 12) * 100%) !important;
    width: calc(calc(1.5 / 12) * 100%) !important;
    max-width: calc(calc(1.5 / 12) * 100%) !important;
}

table,
td,
th {
    border: 1px solid black;
}

td,
th {
    padding: 2px;
    text-align: center;
}


.table-header {
    display: flex;
    font-weight: 700;
    justify-content: center;
    gap: 10px;

    ion-img {
        width: 20px;
    }
}

#radio-inputs {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin-right: 5px;

        &:focus-visible {
            outline: none;
        }
    }

    label {
        color: black;
    }

}

.cart-badge {
    top: 0px;
    position: absolute;
    background: white;
    color: red;
    z-index: 1000;
    font-size: 10px;
    border-radius: 10px;
    right: -8px;
}

#go-to-cart-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

ion-card {
    margin-bottom: 70px;
}